<div class="row">
    <div class="col-md-6">
        <ol style="display: inline-block;">
            {{#each burgers}}
            {{#unless devoured}}
            <li class="pb-2">
                {{burger_name}}
                <button class="btn btn-primary dBurger" data-id="{{id}}" type="button">Devour it!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="col-md-6">
        <ol style="display: inline-block;">
            {{#each burgers}}
            {{#if devoured}}
            <li class="pb-2">
                {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>
<hr>
<div class="row col-md-3 mx-auto">
    <div class="input-group">
        <input type="text" id="burger_input" class="form-control" placeholder="Enter a burger to devour!">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="addButton">Submit</button>
        </div>
    </div>
</div>