<div class="row">
    <div class="col-md-6">
        <ol class="bL">
            {{#each burgers}}
            {{#unless devoured}}
            <li class="pb-2">
                {{burger_name}}
                <button class="btn btn-primary dBurger" data-id="{{id}}" type="button">Devour it!</button>
            </li>
            {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="col-md-6">
        <ol class="bL">
            {{#each burgers}}
            {{#if devoured}}
            <li class="bList">
                {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ol>
    </div>
</div>
<hr>
<h3>Add-A-Burger</h3>
<div class="row col-md-3 mx-auto">
    <form class="input-group" id="addButton">
        <input type="text" id="burger-input" class="form-control" placeholder="Enter a burger to devour!">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<h4 class="pt-5">Clear table</h4>
<button class="btn btn-primary" type="button" id="delete">Clear the table</button>