#color {
    background-color: #172033;
    color: whitesmoke;
}

img {
    width: 20%;
    height: auto;
    padding-bottom: 10px;
}

.bL {
    display: inline-block;
}

.bList {
    padding: 3px;
    list-style: none;
    opacity: 0.3;
}
